
#ballotview {

  #toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    padding: 4px 8px;
    background-color: #FFF;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;

    #logo {
      .title {
        padding: 10px 0;
        font-size: 28px;
      }
    }

    #saveActions {
      position: absolute;
      right: 4px;
      top: 4px;
      color: rgba(0, 0, 0, 0.4);
      text-align: right;

      button {
        margin: 4px 4px;
        padding: 8px 16px;
        height: 40px;
      }

      span {
        display: inline-block;
        margin: 0 16px;
      }
    }
  }

  #ballot {
    position: absolute;
    top: 56px;
    left: 240px;
    & > .ballot {
      width: 400px;
      margin: 20px auto;
    }
  }

  #inspector_nav {
    width: 220px;
    padding: 20px;
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;

    ul, li {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    ul.nav {
      a {
        cursor: pointer;
        color: #000;
        font-size: $font-md;
        display: block;
        margin-bottom: 4px;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }

      ul {
        a {
          font-size: $font-sm;
          margin-left: 8px;
          font-weight: normal;
        }
      }
    }

  }

  #inspector {
    position: fixed;
    top: 56px;
    bottom: 0;
    right: 0;
    width: 400px;

    .inspector_widget {
      position: absolute;
      left: 20px;
      right: 20px;
      top: 20px;
      bottom: 20px;
    }

  }

}


.inspector_widget {
  overflow: auto;
  background-color: #FFF;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;

  .heading {
    background-color: rgb(13, 71, 161);
    color: #FFF;
    padding: 16px;
  }

  .content {
    padding: 16px;
  }
}
