
.ballot_card, .ballot_heading {
  text-align: left;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  max-width: 400px;
  border-radius: 3px;
  padding: 16px;
  margin: 0px auto 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: $font-md;
  position: relative;
}

.ballot_heading {
  text-align: center;
  .title, .secondary {
    font-weight: 600;
  }
}

.ballot_card {
  // transition: all .15s cubic-bezier(.215,.61,.355,1);
  animation-fill-mode:both;
  z-index: 1;
  transform: translateZ(0);
  transition: none;

  &:hover {
    border-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 0 0 0 4px $highlight;
    cursor: pointer;
    transform: scale(1, 1) translateZ(0);
    z-index: 2;
  }

  &.selected {
    transform: scale(1.005, 1.005) translateY(-8px) translateZ(0);
    border-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.2);
    z-index: 3;

    @include respond(phone) {
      transform: scale(1, 1);
      border-radius: 0;
      border: 0;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      z-index: 10;

      > div {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        padding: inherit;
        padding-bottom: $pad-lg * 2;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
      }
    }
  }

  .heading {
    .title {
      font-weight: 600;
    }

    .sub {
      color: rgba(0, 0, 0, 0.7);
      font-size: $font-sm;
    }
  }

  .clickable {
    cursor: pointer;
    &:hover {
      cursor: pointer;
      background-color:#FFFBCC;
    }
  }

  .tiny {
    font-size: $font-sm * 0.9;
    color: rgba(0, 0, 0, 0.5);
    margin: $pad 0 0 0;
  }

  ul.ballot_poll {
    list-style: none;
    padding: 0;
    margin: 16px 0 0 0;

    li {
      margin-right: -16px;

      .radio {
        float: left;
        cursor: pointer;
        margin: -8px;
        padding: 8px;

        > div {
          width: 28px;
          height: 28px;
          background-color: rgba(0, 0, 0, 0.5);
          padding: 2px;
          border-radius: 14px;
          margin-right: 16px;
          // margin-top: 2px;

          > span {
            display: block;
            width: 24px;
            height: 24px;
            border-radius: 12px;
            background-color: #FFF;
            transition: background-color .15s, opacity .15s cubic-bezier(.215,.61,.355,1);
            animation-fill-mode:both;
          }
        }

        &:hover > div {
          > span {
            border: 2px solid #FFF;
            background-color: rgba(255, 255, 255, 0.7);
          }
        }

        &.selected > div > span {
          opacity: 0 !important;
        }
      }

      &:after {
        content: '';
        display: block;
        clear: both;
      }

      .info {
        overflow: hidden;
        min-height: 28px + $unit;

        .trail {
          float: right;
          font-size: $font-sm;
          color: rgba(0, 0, 0, 0.7);
          max-width: 30%;
          text-align: right;
        }

        .option_title {
          font-weight: 600;
          margin-right: 4px;
        }

        .option_sub {
          font-size: $font-sm;
          color: rgba(0, 0, 0, 0.7);
          margin-right: 4px;
        }

        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 8px;
        margin-bottom: 8px;
        padding-right: 16px;
      }

      &:last-of-type > .info {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }

  &.ballot_receipt {
    margin: 0 auto;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: -1px;
  }

  ul.ballot_choice {
    li {
      .info {
        font-size: $font-xl;

        .empty {
          color: rgba(0, 0, 0, 0.3);
        }
      }
    }
  }

  button {
    margin: 0;
  }

  .button_wrap { display: none; }

  &.selected .button_wrap {
    display: none;
    margin: -$pad;
    padding: $pad / 2;
    margin-top: 4px;
    text-align: right;

    &.visible {
      display: block;
    }

    @include respond(phone) {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
      background-color: white;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      display: block;
    }
  }

  button {
    margin-left: $unit * 2;
  }
}

.ballot_switch {

  display: inline-block;
  background-color: #EEE;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  user-select: none;
  font-size: $font-sm;
  border-radius: 3px;
  overflow: hidden;


  .state {
    display:inline-block;
    padding: $unit $unit * 2;

    &.active {
      background-color: white;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    }
  }
}
