main#landing {
  padding: $pad;

  a {
    color: inherit;
  }

  .highlight {
    > span {
      background-color: $highlight;
    }
  }

  nav {
    position: relative;
    margin-top: -$pad / 2;

    img {
      max-width: 80%;
    }

    .module, .module_first {
      float: left;
      width: percentage(1/4);
      padding: $pad / 2;

      .title {
        font-size: $font-md;
        display: inline-block;
        margin: 0 $unit 0 0;
      }

      .sub {
        font-size: $font-sm;
        color: $faded;
        display: inline-block;
      }

    }

    #step_0 {
      color: $faded;
    }

    .module {
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.08);
      }

      &.active {
        background-color: #FFF;

        .title {
          font-weight: bold;
        }
      }
    }

    &:after {
      content: '';
      display: block;
      clear: both;
    }

  }

  section#main {
    position: relative;
    background-color: #FFF;
    padding: 120px 50px;
    text-align: center;
    overflow: auto;

    #logo {
      position: absolute;
      left: $pad;
      top: $pad;
    }

    #right_feature {
      text-align: right;
      position: absolute;
      right: $pad;
      top: $pad;
      opacity: 0.5;
    }

    #blurb {
      max-width: 700px;
      font-weight: 300;
      margin: 0 auto $pad-lg auto;
      font-size: 24px;
      .large {
        font-size: 44px;
        font-weight: bold;
        margin-bottom: $unit * 2;
        span {
          background-color: $highlight;
        }
      }
    }

    #email_collect {

      margin: $pad-lg;

      .title {
        font-size: $font-lg;
        font-weight: bold;
        display: block;
        margin-bottom: $pad;
      }

      div {
        margin: 8px 0;
        a {
          cursor: pointer;
          text-decoration: underline;
          color: $faded;
        }
      }
    }

    // #example {
    //   margin: $pad-lg * 2 0;
    // }

    #down_arrow {
      position: absolute;
      bottom: $pad-lg;
      left: 0;
      right: 0;
      text-align: center;

      img {
        width: 540px * (30 / 540);
        opacity: ((1 - 242/255) * 2);
      }
    }

  }

  section#rockthevote {
    position: relative;
    background-color: #FFF;
    padding: 0;
    text-align: left;

    iframe {
      border: none;
    }
  }

  section#detail {
    padding: $pad-lg $pad;

    #left, #right {
      width: 50%;
      float: left;
      overflow: hidden;
    }

    #left {
      text-align: center;
    }

    #right {
      section.detail_module {
        margin: $pad * 4 0;
        max-width: 450px;

        .title {
          font-size: 24px;
          font-weight: 300;
          margin-bottom: $pad;
        }

      }
    }

    &:after {
      content: '';
      display: block;
      clear: both;
    }

  }

  footer {
    padding: $pad-lg $pad;
    text-align: center;
    font-size: $font-sm;
    opacity: 0.5;
  }

}

.coming_soon {
  margin: $pad-lg auto;
  span {
      text-transform: uppercase;
      font-size: $font-sm;
      line-height: $font-sm;
      border: 1px solid #CCC;
      color: #AAA;
      padding: 6px;
      border-radius: 3px;
      display: inline-block;
  }
}
