@import 'https://fonts.googleapis.com/css?family=Questrial|Roboto:400,700';
@import 'normalize';

$font-size: 14px;

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #F1F2F2;
  color: #000;
  margin: 0;
  padding: 0;
  font-size: $font-size;
  line-height: 1.4;
}

main#landing {
  position: absolute;
  left: 20px;
  top: 20px;
  bottom: 20px;
  right: 20px;

  section#main {
    position: absolute;
    left: 0;
    right: 170px;
    top: 0;
    bottom: 0;
    background-color: #FFF;
    padding: 120px 50px 0 50px;
    text-align: center;

    #logo_wrap {
      #logo {
        font-family: 'Questrial', sans-serif;
        display: block;
        font-size: 40px;
        line-height: 1;
      }
      font-size: 18px;
    }

    #blurb {
      max-width: 800px;
      margin: 48px auto;
      font-size: 15px;

      #coming_soon {
        text-transform: uppercase;
        font-size: 12px;
        line-height: 12px;
        border: 1px solid #CCC;
        color: #AAA;
        padding: 6px;
        border-radius: 3px;
        margin-top: 40px;
        display: inline-block;
      }
    }

    #email_collect {

      span {
        font-size: 18px;
        display: block;
        margin-bottom: 10px;
      }

      input {
        outline: none;
        padding: 12px;
        font-size: 16px;
        line-height: 20px;
        box-shadow: none;
        background-color: #FFF;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        height: 20px + (2 * 12px) + (2 * 1px);
        margin: 0 4px;
        width: 250px
      }

      button {
        outline: none;
        padding: 12px 16px;
        font-size: 14px;
        line-height: 20px;
        box-shadow: none;
        background-color: #2196F3;
        color: #FFF;
        text-transform: uppercase;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        height: 20px + (2 * 12px) + (2 * 1px);
        margin: 0 4px;

        &:disabled {
          background-color: #CCC;
        }
      }

      div {
        margin: 8px 0;
        a {
          cursor: pointer;
          text-decoration: underline;
          color: #AAA;
        }
      }
    }

  }

  section#side {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 150px;
  }

}
