@import 'https://fonts.googleapis.com/css?family=Questrial|Roboto:300,400,700';
@import 'normalize';

$font-sm: 12px;
$font-md: 14px;
$font-lg: 16px;

$unit: 5px;
$pad: $unit * 4;
$pad-lg: $pad * 2;

$faded: #AAA;
$highlight: #FFFBCC;


*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #F1F2F2;
  color: #000;
  margin: 0;
  padding: 0;
  font-size: $font-md;
  line-height: 1.4;
}

@import 'landing';
@import 'ballot';
